<div class="cats-btn" role="group">
  <a class="btn btn-outline-danger use-ajax"
     data-dialog-options="{&quot;width&quot;:400}"
     data-dialog-type="modal"
     type="button"
     href="/nnychyporchuk/cats/{{ id }}/delete">{{ "Delete cat entity"|t }}</a>
  <a class="btn btn-outline-warning use-ajax"
     data-dialog-options="{&quot;width&quot;:400}"
     data-dialog-type="modal"
     type="button"
     href="/nnychyporchuk/cats/{{ id }}/edit">{{ "Edit cat entity"|t }}</a>
</div>
